{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div style="margin: 40px auto 40px auto;">
            <p style="color: #212121; font-size: 24px; font-family: 'Nanum Barun Gothic', sans-serif;">
               FAQ
            </p>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">챗봇이란 무엇인가요?</h3>
              </div>
              <div class="panel-body">
                챗봇이란 인공지능을 기반으로 인간과 이야기하듯 채팅을 하는 로봇입니다.<br>따라서 사용자는 별도의 웹사이트 혹은 앱을 실행시키지 않고 챗봇과 대화하듯 원하는 정보를 얻으실 수 있습니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더는 어떤 서비스인가요?</h3>
              </div>
              <div class="panel-body">
                "당신의 말을 이해하는 인공지능 캘린더"<br>린더는 챗봇 기반의 대화형 일정관리 서비스로 복잡한 일상 속 고객님의 일정과 관련된 일을 처리해주는 인공지능 로봇입니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더의 기능에는 어떤것이 있나요?</h3>
              </div>
              <div class="panel-body">
                린더의 기능으로는 총 4가지 종류가 있습니다. 그 구성은 다음과 같습니다.<br>
                1. 자연스러운 대화체로 일정을 저장할 수 있는 '일정 추가 기능'<br>
                2. '복붙' 한번으로 캘린더에 일정을 등록 할 수 있는 '문자/메일 분석 기능'<br>
                3. 온라인에 공개 된 어떤 일정을 찾아서 등록해주는 '캘린더 추가 기능'<br>
                4. 키워드를 바탕으로 관련 일정을 추천해주는 '일정 추천 기능'<br>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더를 처음 이용하는데, 어떻게 해야하나요?</h3>
              </div>
              <div class="panel-body">
                린더는 라인과 카카오톡을 기반으로 서비스를 운영하고 있습니다. 라인 또는 카카오톡에서 "린더"를 친구 추가하시고 린더에게 말을 걸어보세요.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더를 사용하려면 어플을 다운 받아야 하나요?</h3>
              </div>
              <div class="panel-body">
                린더는 앱을 별도로 설치하지 않고 사용이 가능합니다. 라인 또는 카카오톡에서 "린더"를 친구 추가하시면 린더를 사용하실 수 있습니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더와 동기화 할 수 있는 캘린더는 어떤게 있나요?</h3>
              </div>
              <div class="panel-body">
                린더에서 현재 동기화를 진행하고 있는 캘린더는 "구글 캘린더" 이며 추후 계속해서 연동 가능한 캘린더의 수를 늘려나갈 예정입니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더와 캘린더를 연동하려면 어떻게 해야하나요?</h3>
              </div>
              <div class="panel-body">
                사용자 프로필 웹페이지에서 가능합니다. 린더에게 "도움말"이라고 말씀하시면, 사용자 프로필 URL 주소를 알려줍니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더는 24시간 사용 가능한가요?</h3>
              </div>
              <div class="panel-body">
                린더 서비스는 24시간 운영되고 있습니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더 답변에 의견을 추가하는 방법이 있나요?</h3>
              </div>
              <div class="panel-body">
                현재 린더는 다양한 고객님의 의견을 받아들이기 위해 "린더 학습시키기" 기능을 준비 중에 있습니다.
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-family: 'Nanum Barun Gothic Bold', sans-serif;">린더는 어떻게 트레이닝이 되나요?</h3>
              </div>
              <div class="panel-body">
                린더는 인공지능 서비스로의 더 완벽한 서비스를 위해 다수의 트레이너들에게 교육을 받고 있습니다.
              </div>
            </div>
        </div>
    </div>

{% endblock %}