{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div id="login">
            <img id="login-logo" src="{{ url_for('static', filename='assets/img/intro.png') }}">
            <ul>
                <li><a href="/oauth/google/authorize"><img src="{{ url_for('static', filename='assets/img/google.png') }}"></a></li>
                <li><a href="/oauth/naver/authorize"><img src="{{ url_for('static', filename='assets/img/naver.png') }}"></a></li>
                <li><a href="/auth/icloud"><img src="{{ url_for('static', filename='assets/img/icloud_2.png') }}"></a></li>
            </ul>
        </div>
    </div>

{% endblock %}