{% extends "base.html" %}
{% block content %}

    <div class="container">
        <div style="white-space: pre-line; margin: 10px auto 100px auto; font-family: 'Nanum Barun Gothic Light', sans-serif; font-size: 16px; color: #000000;">
            <p style="color: #212121; font-size: 18px; font-family: 'Nanum Barun Gothic', sans-serif;">
               개인정보취급방침
            </p>
                히든트랙(이하 “회사”라 함)는 이용자가 린더 서비스 (이하 ‘서비스’라 합니다)에 저장한 개인정보의 보호를 중요하게 생각하고, 이용자의 개인정보를 보호하기 위하여 항상 최선을 다해 노력하고 있습니다. 본 개인정보취급방침은 서비스가 수집하는 이용자의 정보와 그 정보 수집 이유, 용도 및 이용자의 콘텐츠를 취급하는 방법에 대한 설명입니다.

                총칙
                1. "개인정보"라 함은 생존하고 있는 개인에 관한 정보로서 성명, 주민등록번호 및 영상 등을 통하여 개인을 알아볼 수 있는 정보(해당 정보만으로는 특정 개인을 알아볼 수 없더라도 다른 정보와 쉽게 결합하여 알아볼 수 있는 것을 포함한다)를 말합니다.
                2. 서비스는 고객님의 개인정보보호를 매우 중요시하며, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보 보호법』상의 개인정보보호규정을 준수하고 있습니다. 또한 서비스는 개인정보 취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떤 용도와 방식으로 이용되고 있으며 개인정보를 효과적이고 적극적으로 보호하기 위해 항상 노력하고 있음에 대해 알려드립니다.
                3. 서비스는 개인정보 취급방침을 서비스 홈페이지 또는 화면, 서비스 Application에 공개함으로써 고객님께서 언제나 용이하게 보실 수 있도록 조치하고 있습니다.
                4. 서비스는 개인정보 취급방침의 지속적인 개선을 위하여 개인정보 취급방침을 개정하는데 필요한 절차를 정하고 있습니다. 그리고 개인정보 취급방침을 개정하는 경우 버전번호, 시행일자 등을 부여하여 개정된 내용을 확인할 수 있도록 하고 있습니다.
                5. 서비스의 개인정보 취급방침 중 중요한 사항이 변경되는 경우에는 변경되는 개인정보 취급방침을 시행하기 7일전부터 서비스 홈페이지 또는 화면, 서비스 Application등을 통하여 변경이유 및 내용을 고객에게 공지합니다.

                개인정보 이용목적
                회사는 이용자의 소중한 개인정보를 다음과 같은 목적으로만 이용하며, 목적이 변경될 경우에는 사전에 이용자의 동의를 구하도록 하겠습니다.
                1. 유료 서비스에 가입된 계정정보인지 확인하거나 새로운 계정정보를 생성하기 위하여 사용합니다.
                2.  서비스 내에서 장소 검색 및 조회하는 경우 사용합니다.
                (Google Maps API 사용, Google Privacy Policy 적용)
                3. 서비스를 현지화하고 이용자들의 서비스와 마켓 이용 방식에 대한 이해를 돕기 위해 사용됩니다.
                4. 서비스의 사용을 제한할 수 있는 법적 규제를 준수하기 위해 사용합니다.
                5.  이용자와 약속한 서비스를 제공하고 유료 서비스 구매 및 이용이 이루어지는 경우 이에 따른 사용기간을 조회하거나 계정정보에 등록할 수 있는 최대 단말 대수를 제한하기 위해 사용됩니다.
                6. 맞춤형 서비스 제공 및 신규 서비스 개발 등에 참고하기 위하여 이를 익명화하여, 이용패턴과 접속빈도 분석 및 서비스 이용에 대한 통계에서 사용됩니다.

                개인정보 수집에 대한 동의
                1. 서비스는 고객님의 ‘개인정보 수집 및 이용’에 대한 별도의 동의획득 절차를 두고, '동의’ 절차 진행 시 개인정보 수집 및 이용에 대해 동의한 것으로 봅니다.
                2. 고객님은 개인정보 수집 및 이용에 대한 동의를 거부할 권리가 있으며, 동의를 거부할 경우 받는 별도의 불이익은 없습니다. 단, 필수동의 사항에 동의를 거부할 경우, 서비스 이용이 불가능하거나, 서비스 이용 목적에 따른 서비스 제공에 제한이 따르게 됩니다.

                개인정보의 수집 방법
                1. 서비스는 고객님의 개인정보를 고객님이 서비스에서 입력하는 방법 및 서비스 가입시점 또는 서비스 이용과정에서 자동으로 수집하거나 생성정보를 수집하는 방법 등으로 개인정보를 수집합니다.

                수집한 개인정보의 이용 및 제3자 제공
                1. 서비스는 고객님의 개인정보를 서비스이용약관, 본 개인정보 취급방침의 '개인정보의 수집 항목 및 이용 목적'에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다. 단, 다음의 경우에는 주의를 기울여 개인정보를 이용 및 제공할 수 있습니다.
                가. 제휴관계
                보다 나은 서비스 제공을 위하여 고객의 개인정보를 제휴사에게 제공하거나 또는 제휴사와 공유할 수 있습니다. 이 경우 개인정보보호 관련 고객의 권리를 보장하기 위하여 반드시 그 사실을 고객에게 통지합니다.
                나. 매각ㆍ인수합병 등
                영업의 전부 또는 일부를 양도하거나, 합병ㆍ상속 등으로 서비스제공자의 권리ㆍ의무를 이전 승계하는 경우 개인정보보호 관련 고객의 권리를 보장하기 위하여 반드시 그 사실을 고객에게 통지합니다.
                2. 서비스의 개인정보를 개인정보 수집 시 고객에게 고지한 범위 또는 서비스이용약관에 명시한 범위를 넘어 이용하거나 제 3 자에게 제공하지 않습니다. 다만, 고객의 동의가 있거나 다음에 해당하는 경우에는 예외로 합니다.
                가. 서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적인 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우
                나. 서비스 제공에 따른 요금정산을 위하여 필요한 경우
                다. 통신비밀보호법, 국세기본법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법, 금융실명거래 및 비밀보장에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자기본법, 한국은행법, 형사소송법 등 다른 법률에 특별한 규정이 있는 경우
                3. 단, '법률에 특별한 규정이 있는 경우'로 행정목적이나 수사목적으로 행정관청 또는 수사기관이 요구해 온 경우라도 무조건적으로 고객의 개인정보를 제공하지 않으며, 법률에 규정된 바에 따라 영장 또는 기관장의 직인이 날인된 서면에 의한 경우 등 적법한 절차에 따라 제공합니다.

                개인정보의 보유기간 및 이용기간
                1. 회사는 고객님의 서비스 가입일로부터 고객님께 서비스를 제공하는 기간 동안에 한하여 고객님의 개인정보를 보유 및 이용하게 됩니다. 회원 탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 수집/이용목적을 달성하거나 보유/이용기간이 종료한 경우, 사업폐지 등의 사유발생시 당해 개인정보를 지체없이 파기합니다.
                단, 아래와 같은 법령상 보관필요시 해당 정보는 법령에서 정해진 기간동안 보유합니다.
                가. 요금의 정산, 요금 과오납 등 분쟁 발생 시 입증을 위하여 해지 후 개인정보(과금정보 포함) : 해지일로부터 6개월. 단, 해지 가입자가 이용대금을 납부하지 않았거나 가입자와 요금관련분쟁이 있는 때에는 해결 시까지 보유
                나. 통신비밀보호법 제15조의 규정에 의하여 통신사실확인자료 제공 시 필요한 성명, 생년월일, 이동전화번호 : 12개월
                다. 통신비밀보호법 시행령 제21조의 규정에 따라 가입자의 전기통신 일시, 전기통신 개시ㆍ종료시간, 통신번호 등 상대방의 가입자번호, 사용도수, 정보통신망에 접속된 정보통신기기의 위치자료 : 12개월
                라. 통신사실확인자료 제공시 필요한 로그기록자료, IP주소 등:3개월(통신비밀보호법)
                마. 국세기본법, 법인세법, 부가가치세법에 따른 성명, 주민등록번호, (해지)이동전화번호, 청구서 배달 주소, 요금 등 거래내역 관련 정보 : 5년
                바. 표시/광고에 관한 기록 : 6개월(전자상거래등에서의 소비자보호에 관한 법률)
                사. 계약 또는 청약철회 등에 관한 기록 : 5년(전자상거래등에서의 소비자보호에 관한 법률)
                아. 대금결제 및 재화 등의 공급에 관한 기록 : 5년(전자상거래등에서의 소비자보호에 관한 법률)
                자. 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년(전자상거래등에서의 소비자보호에 관한 법률)
                차. 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년(신용정보의 이용 및 보호에 관한 법률)

                개인정보 파기 절차 및 방법
                1. 서비스는 수집한 개인정보의 이용목적이 달성된 후에는 보관기간 및 이용기간에 따라 해당 정보를 지체 없이 복구 불가능하도록 파기합니다. 파기절차, 방법, 시점은 다음과 같습니다.
                가. 파기절차 및 시점
                고객이 서비스 가입 등을 위해 기재한 개인정보는 서비스 해지 등 이용목적이 달성된 후 내부 방침 및 기타 관련 법령에 의한 정보보호 방침에 의해 삭제되거나 파기합니다. 일반적으로 채권-채무 관계가 없는 경우, 서비스 가입시시 수집되어 전자적 파일형태로 관리하는 개인정보는 회원 탈퇴 시점에 바로 삭제 됩니다. 단, 고객에게 미리 고지하고 개별 동의를 받은 경우는 동의한 내용에 따른 보유기간 동안 보유 후 삭제되며, 관련 법령의 규정에 의하여 개인정보를 보유해야 할 필요가 있는 경우에는 해당 법령에서 정한 기간 동안 보유한 후 해당 기간이 지나면 회원의 모든 데이터를 삭제합니다.
                나. 파기방법
                가입신청서 등 서면양식에 기재하거나, 종이에 출력된 개인정보는 분쇄기로 분쇄 또는 소각하거나 화학약품 처리를 하여 용해하여 파기하고, 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.

                만 14세 미만 아동의 법정대리인의 권리와 그 행사 방법
                서비스는 만14세 미만 아동의 회원 가입을 허용하지 않습니다. 만약 회사가 만 14세 미만의 아동으로부터 개인정보 수집ㆍ이용ㆍ제공하는 경우, 관련 법령에 따라 그 법정대리인의 동의를 받습니다. 이 경우 회사는 그 아동에게 법정대리인의 동의를 받기 위하여 필요한 법정대리인의 성명 등 최소한의 정보를 요구할 수 있습니다.
                만 14세 미만 아동의 법정대리인은 아동의 개인정보에 대한 열람, 수정 및 삭제를 요청할 수 있으며, 회사는 이러한 요청에 지체 없이 필요한 조치를 취합니다.

                이용자의 권리와 의무
                1. 고객님의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 부정확한 정보를 입력하여 사고가 발생할 경우 책임은 고객님께 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.
                2. 고객님은 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 패스워드를 포함한 고객님의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오. 만약 이 같은 책임을 다하지 못하고 타인의 정보를 훼손할 시에는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』등에 의해 처벌받을 수 있습니다.
                 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 대한 사항
                1. 서비스에서 제공하는 인터넷서비스를 통하여 고객님의 정보를 저장하고 수시로 찾아내는 쿠키(cookie)를 설치/운용할 경우도 있습니다. 쿠키란 웹 서버가 웹 브라우저에 보내어 저장했다가 서버의 부가적인 요청이 있을 때 다시 서버로 보내주는 문자열 정보를 말합니다. 고객님께서 서비스 또는 서비스의 웹사이트에 접속을 하면 고객님의 브라우저 또는 앱에 있는 쿠키의 내용을 읽고, 추가정보를 찾아 접속에 따른 성명 등의 추가 입력 없이 서비스를 제공할 수 있습니다.
                2. 서비스가 쿠키를 통해 수집하는 정보는 회원의 ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다. 회사가 쿠키(cookie)를 통해 수집한 회원의 ID는 다음의 목적을 위해 사용될 수 있습니다.
                가. 개인의 관심 분야에 따라 차별화된 정보를 제공
                나. 회원과 비회원의 접속 빈도 또는 머문 시간 등을 분석하여 이용자의 취향과 관심분야를 파악하여 마케팅에 활용
                다. 관심 있게 둘러본 내용들에 대한 자취를 추적하여 다음 번 접속 때 개인 맞춤 서비스를 제공
                라. 유료서비스 이용 시 이용기간 안내
                마. 회원들의 습관을 분석하여 서비스 개편 등의 척도로 활용
                3. 고객님께서는 쿠키 설치에 대한 선택권을 가지고 있습니다. 웹 브라우저 상단의 “도구 > 인터넷옵션 > 개인정보 > 고급”에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있습니다. 단, 고객님께서 쿠키 설치를 거부하였을 경우 서비스 이용에 불편이 있거나, 서비스 제공에 어려움이 있을 수 있습니다. 쿠키는 브라우저의 종료 시나 로그 아웃 시 만료됩니다.

                개인정보 취급방침의 고지 또는 통지방법
                1. 서비스가 개인정보 수집시 고지한 범위 또는 서비스이용약관, 본 개인정보 취급방침에 명시한 범위를 넘어 고객의 개인정보를 이용하거나 제3자에게 제공하기 위해 고객의 동의를 얻고자 하는 때에는 미리 고객에게 개별적으로 서면, 전자우편, 전화 등으로 해당사항을 고지합니다. 타인에게 고객의 개인정보의 수집ㆍ보관ㆍ처리ㆍ이용ㆍ제공ㆍ관리ㆍ파기 등을 위탁하는 경우에는 서비스이용약관, 개인정보 취급방침 등을 통하여 그 사실을 고객에게 고지합니다.
                2. 서비스가 영업의 전부 또는 일부를 양도하거나 합병ㆍ상속 등으로 그 권리ㆍ의무를 이전하는 경우 서면ㆍ전자우편 등을 통하여 고객에게 개별적으로 통지함과 동시에 서비스 홈페이지 및 서비스 Application 첫 화면에서 식별할 수 있도록 표기하여 30일 이상 그 사실을 공지합니다. 다만, 서면ㆍ전자우편에 의한 통지는 과실 없이 고객의 연락처를 알지 못하거나 천재ㆍ지변 기타 통지할 수 없는 정당한 이유가 있는 경우에는 서비스 홈페이지 및 서비스 Application 첫 화면에서 공지하는 것으로 갈음합니다.
                3. 만 14세 미만 아동의 개인정보 수집ㆍ이용 또는 제3자에게 제공하기 위하여 법정대리인의 동의를 받고자 하는 경우에는 전화, 팩스, 우편, 아동으로 하여금 통지내용을 법정대리인에게 제출하게 하는 방법, 법정대리인에게 전자우편을 보내면서 서비스 홈페이지의 개인정보 취급방침을 볼 수 있도록 연결(하이퍼링크)시키는 방법 또는 기타 법정대리인에게 고지내용이 도달할 수 있는 합리적인 방법(휴대폰 인증 등)을 통하여 법정대리인에게 고지합니다.

                개인정보관리 책임자 및 담당자
                회사는 고객님이 안전하게 서비스를 이용할 수 있도록 개인정보 보호에 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 고객님께 고지한 사항들에 반하는 사고가 발생할 시에 개인정보관리책임자가 모든 책임을 집니다. 고객님의 개인정보를 취급하는 책임자 및 담당자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다.
                •개인정보관리책임자 : 대표 오정민
                •전화번호 : 0508-5180-0203
                •이메일 : contact@hiddentrack.co
                개인정보 취급방침의 변경
                현 개인정보 취급방침은 2017년 1월 25일부터 적용됩니다.
        </div>
    </div>

{% endblock %}